<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buzzwords"
    android:installLocation="auto"
    android:versionCode="10"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="16" />

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.buzzwords.BuzzWordsApplication"
        android:allowBackup="true"
        android:configChanges="keyboardHidden"
        android:icon="@drawable/icon"
        android:label="@string/AppName"
        android:theme="@style/BuzzWordsTheme" >

        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/AppName"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.buzzwords.intent.action.SPLASHSCREEN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TitleActivity"
            android:exported="false"
            android:label="@string/AppName"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.buzzwords.intent.action.TITLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsPreferenceActivity"
            android:exported="false"
            android:label="@string/AppName"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="com.buzzwords.intent.action.SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RulesActivity"
            android:exported="false"
            android:label="@string/AppName"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.buzzwords.intent.action.RULES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BuzzerActivity"
            android:exported="false"
            android:label="@string/AppName"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.buzzwords.intent.action.BUZZER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreditsActivity"
            android:exported="false"
            android:label="@string/AppName"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.buzzwords.intent.action.CREDITS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameSetupActivity"
            android:exported="false"
            android:label="@string/AppName"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.buzzwords.intent.action.GAMESETUP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TurnActivity"
            android:exported="false"
            android:label="@string/AppName"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.buzzwords.intent.action.TURN" >
                </action>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameEndActivity"
            android:exported="false"
            android:label="@string/AppName"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.buzzwords.intent.action.GAMEEND" >
                </action>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TurnSummaryActivity"
            android:exported="false"
            android:label="@string/AppName"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.buzzwords.intent.action.TURNSUMMARY" >
                </action>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CardReviewActivity"
            android:exported="false"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog" >
            <intent-filter>
                <action android:name="com.buzzwords.intent.action.CARDREVIEW" >
                </action>
                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name=".EditTeamName"
            android:exported="false"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleDialog" >
            <intent-filter>
                <action android:name="com.buzzwords.intent.action.EDITTEAMNAME" >
                </action>
                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
    </application>

</manifest>