<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.taboozle"
      android:versionCode="1"
      android:versionName="1.0">
  <application android:icon="@drawable/icon" 
               android:label="@string/AppName" 
               android:theme="@style/TaboozleTheme"
               android:name=".TaboozleApplication"
               android:screenOrientation="portrait">
        <activity android:name=".SplashScreen"
                  android:label="@string/AppName"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taboozle.intent.action.SPLASHSCREEN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>               
        <activity android:name=".Title"
                  android:label="@string/AppName">
            <intent-filter>
                <action android:name="com.taboozle.intent.action.TITLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Settings"
        		  android:label="@string/AppName">
            <intent-filter>
            	<action android:name="com.taboozle.intent.action.SETTINGS" />
            	<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>  
        <activity android:name=".Rules"
        		  android:label="@string/AppName">
			<intent-filter>
				<action android:name="com.taboozle.intent.action.RULES" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>        		  
        </activity>
      <activity android:name=".AboutUs"
        		  android:label="@string/AppName">
			<intent-filter>
				<action android:name="com.taboozle.intent.action.ABOUTUS" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>        		  
        </activity>        
        <activity android:name=".Buzzer"
        		  android:label="@string/AppName">
			<intent-filter>
				<action android:name="com.taboozle.intent.action.BUZZER" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>        		  
        </activity>
        <activity android:name=".GameSetup"
        		  android:label="@string/AppName">
			<intent-filter>
				<action android:name="com.taboozle.intent.action.GAMESETUP" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>        		  
        </activity>
        <activity android:name=".Turn"
                  android:label="@string/AppName">
            <intent-filter>
         	   <action android:name="com.taboozle.intent.action.TURN"></action>
         	   <category android:name="android.intent.category.DEFAULT" />
			     </intent-filter>
        </activity>
        <activity android:name=".GameEnd"
                  android:label="@string/AppName">
            <intent-filter>
             <action android:name="android.intent.action.CALL"></action>
             <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".TurnSummary"
                  android:label="@string/AppName">
            <intent-filter>
         	   <action android:name="android.intent.action.SEND"></action>
         	   <category android:name="android.intent.category.INFO"/>
			</intent-filter>
        </activity>
  </application>
	<uses-sdk android:minSdkVersion="7" 
          android:targetSdkVersion="7"
          android:maxSdkVersion="7" />
    <uses-permission android:name="android.permission.VIBRATE" />
</manifest> 